.*
*~
*.hi
*.o
dist
#*
/selda/README.md
/selda/ChangeLog.md
/website/BaseUrl.hs
/website/_site
/*/LICENSE
dist-newstyle
cabal.project.local
.stack-work/
/stack*.yaml.lock
*.sqlite
!.gitignore
!.github
